<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<header>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/list">List</a></li>
      <li><a routerLink="/change">change</a></li>
      <li><a routerLink="/directives">directives</a></li>
      <li><a routerLink="/emitter">emitter</a></li>
      <li><a routerLink="/events">events</a></li>
      <li><a routerLink="/fisrt">fisrt</a></li>
      <li><a routerLink="/if">if</a></li>
      <li><a routerLink="/parent">parent</a></li>
      <li><a routerLink="/pipes">pipes</a></li>
      <li><a routerLink="/two">two</a></li>
    </ul>
  </nav>
</header>
<body>
  <div class="container">
    <h1>Meu Primeiro Projeto em Angular</h1>
    <router-outlet></router-outlet>
  </div>
</body>
<footer>
  <div class="container">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam provident dolores culpa possimus excepturi. Fugiat voluptatem inventore corporis quos, dicta neque rerum deleniti minus sequi, numquam nostrum beatae sint dolores.
  </div>
</footer>
</html>
