<div class="section">
  <div class="container">

    <div class="section--title">Componente 3</div>

    <div class="section--content">
      <h2 [ngStyle]="{
        'font-size': size,
         'fonte-family': font,
         'color': color,
         'padding': padding

        }">
        Testando directiva de estilos/style
      </h2>

      <h2 [ngClass]="classes">Testando diretiva de classe 1</h2>
      <h2 [ngClass]="classes">Testando diretiva de classe 2</h2>
      <h2 [ngClass]="under">Testando diretiva de classe 3</h2>
    </div>

  </div>
</div>
