<section class="section">
  <div class="container">
    <div class="section--title">Componente 5 - EVENTS</div>
    <div class="section--content">

      <p *ngIf="getShow()">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis recusandae minima est laudantium officia provident omnis voluptas commodi. Unde harum at hic aperiam ut nam minus aspernatur dolores odit nesciunt.
      </p>
      <div (click)="showMensage()" class="button" id="button">show</div>
    </div>
  </div>
</section>
