h1 {
  color: orange;
  padding: 15px;
}

.section {
  padding: 50px 0px;
  border-bottom: 1px solid #989898;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section--title {
  font-size: 30px;
  color: orange;
}

.section--content {
  margin: 30px 00px;
  box-shadow: 0px 0px 3px 2px #999;
  padding: 30px 80px;
  width: calc(720px - 160px);
  transition: all 1s linear;
}

.container {
  width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}



.button {
  width: 120px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.1s linear;
  border: 2px solid orange;
}

.button:hover{
background-color: orange;
color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

